body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0.1em;
    /* grid-auto-rows: minmax(1fr, auto);
    grid-auto-columns: minmax(1fr, auto); */
    width: 70%;
    /* width: 800px; */
    /* height: 80px; */
    /* flex: 1; */
  }
  
.wrapper > div {
    display: flex;
    background: #eee;
    padding-bottom: 100%;
}

.btn {
    width: 5rem;
    height: 2rem;
    margin-bottom: 1.25rem;  
}
/* .wrapper > div:hover {
    background: black;
} */

/* .wrapper > div:hover {
    background: black;
} */